.card {
  margin-top: 50px;
  width: 200px;
  margin-right: 50px;
  font-size: 12px;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--star {
  width: 15%;
  padding-right: 10px;
}

.card--stats {
  display: flex;
  align-items: center;
  span {
    padding-right: 8px;
  }
}

.gray {
  color: #cacaca;
}

.bold {
  font-weight: 700;
}

.vote {
  padding-left: 20px;
  padding-right: 20px;

  &:hover,
  &:focus {
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;
  }
}
