@use "../Core/colors" as color;

.h-100 {
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  height: 12%;
  margin: 0;
  padding: 0;
}

.bg-color {
  background: linear-gradient(
    90deg,
    color.$accent-second-color 20%,
    color.$accent-color 50%,
    color.$accent-color 80%,
    color.$accent-color 100%
  );
}

.wide-color {
  background: linear-gradient(
    40deg,
    color.$accent-light-color 30%,
    color.$accent-color 79%,
    color.$accent-second-color 100%
  );
}

.clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;
}

.bg-image {
    position: relative;
  width: 70%;
    top: 20%;
    right: 10%;
  opacity: 0.1;
  
}

.bg-grey {
  background-color: #202121;
}

.bg-dark {
  background-color: #0f1013;
}
