@use "../Core/colors" as color;
@use "../Core/utils" as utils;

.h-100 {
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  height: 4.7em;
  display: flex;
  align-items: center;
}

.bg-color {
  background: linear-gradient(
    90deg,
    color.$header-primary 50%,
    color.$header-second 100%
  );
}

.wide-color {
  background: linear-gradient(
    40deg,
    color.$primary-color 7%,
    color.$second-color 100%
  );
}

.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100%); // no white space
  overflow: hidden; // no white space
}

.bg-image {
  position: relative;
  width: 70%;
  top: 40%;
  right: 12%;
  opacity: 0.15;
}

.bg-grey {
  background-color: #363838;
  align-items: center;
  justify-content: flex-end;
}

.bg-dark {
  background-color: #202125;
  color: #fff;
}

.navs {
  display: flex;
  position: absolute;
  margin-top: 2em;

  ul {
    list-style: none;
    margin-left: 1.5em;
    &:nth-child(n + 2) {
      margin-left: 10em;
    }

    li {
      font-size: 0.95em;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 1.5em;
      a {
        color: #fff;
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

.footer-info {
  color: #fff;
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-top: 14%;
  padding-left: 3em;
  font-size: 0.87rem;

  .make-by {
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
  }
}
