@use "../Core/colors" as color;

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  color: #d1d1d1;
  background-color: color.$header-primary;
  box-shadow: 2px 1px 10px 2px color.$shadow-color;

  .nav {
    justify-content: space-between;
    display: flex;
  }

  .mobile-nav-toggle {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  @media (max-width: 775px) {
    .nav {
      height: 6vh;
    }

    .mobile-nav-toggle {
      display: block;
      position: absolute;
      background-color: transparent;
      background-image: url("../../Image/Icon/bars-solid.svg");
      background-repeat: no-repeat;
      border: 0;
      z-index: 999;
      aspect-ratio: 1;
      margin-top: 0.8em;
      width: 2em;
      right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
      background-image: url("../../Image/Icon/xmark-solid.svg");
    }

    #primary-navigation {
      position: fixed;
      z-index: -1;
      inset: 0 0 60% 0%;
      background-color: hsl(0 0% 0% / 0.7);
      backdrop-filter: blur(1rem);
      padding: min(30vh, 10rem) 2em;
      transform: translateY(-100%);
      transition: transform 350ms ease-out;
    }

    #primary-navigation[data-visible="true"] {
      transform: translateY(0%);
      transition: transform 350ms ease-in;
    }

    li {
      margin-bottom: 1.5em;
    }
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 2em;

    @media (max-width: 775px) {
      flex-direction: column;
      margin: 0 auto;
      margin-top: -3em;
      align-items: flex-start;
    }

    li {
      text-align: center;
      padding-left: 1.5em;

      a {
        text-decoration: none;
        color: color.$text-primary-color;
        font-weight: 700;
        font-size: 1rem;
        &:hover,
        &:focus {
          transition: 100ms ease-in;
          color: #e00f8d;
        }
        [aria-hidden="true"] {
          font-weight: 900;
        }
        span {
          padding-right: 0.3em;
        }

        @media (max-width: 775px) {
          font-size: 1.5em;
        }
      }
    }
  }

  .line {
    height: 5px;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5); // #23d5ab
    //background: linear-gradient(-45deg, color.$primary-color, color.$second-color); // #23d5ab
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
