$primary-color: #ad5389;
$second-color: #3c1053;

$header-primary: #000000;
$header-second: #434343;

//$accent-color: #7e00c2;
$accent-color: #7e00c2;

//$accent-second-color: #7000ac;
$accent-second-color: #7000ac;

//$accent-light-color: #9032c2;
$accent-light-color: #9032c2;

$shadow-color: #42445a38;

$text-primary-color: #d1d1d1;

$text-second-color: #fff;