.profile {
    margin-top: 1em;
    margin-bottom: 1em;
  .profile-img {
      margin-right: 1em;
      border-radius: .5em;
  }
  .desc {
    background-color: rgba(99, 99, 99, 0.596);
    color: #fff;
    border-radius: .5em;
  }
}
