.repo {
    background-color: #777777;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.repo-name {
    color: #fff;
    font-weight: 100;
}

.repo-url {
    color: #fff;
    font-weight: 800;
}