@use "../../Core/colors" as color;

ul {
    line-height: 2.5em;
    display: flex;
    list-style: none;

    li {
      text-align: center;
      box-sizing: border-box;
      width: 6em;
      

      a:not(a.img) {
        text-decoration: none;
        color: color.$text-primary-color;
        font-weight: 400;
        font-size: 1rem;
        &:hover,
        &:focus {
          border-bottom: 2px #d1d1d1 solid;
          color: color.$text-second-color;
          font-weight: 500;
        }
      }
      
      &.socialicon {
        width: 3.5em;
        padding-left: 2em;
        margin-top: 0.3em;
        margin-left: 0;
        margin-right: 0;
      }

    }
  }